<div class="container">
  <div class="row align-top-center mt-5">
    <div class="col">
      <select
        class="form-select"
        aria-label="Default select example"
        (change)="onChange($event)"
        [(ngModel)]="selectedCountry"
      >
        <option *ngFor="let country of countries" [value]="country.name">
          {{ country.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of selectedUsers">
            <th>{{ user.name }}</th>
            <th>{{ user.gender | titlecase }}</th>
            <th>{{ user.email }}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
